{% extends "cadmin/base1.html" %}
{% load static %}

 

 
{% block content %}
 
        <div class="login">
 
                {% if messages %}
                    <ul>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                    </ul>
                {% endif %}
 
                <h1>Create account</h1>
                <a href="{{ request.META.HTTP_REFERER }}"class="btn btn-primary"class>Back</a>
                <form  action="{% url 'cadmin:AdminRegister' %}" method='POST' enctype="multipart/form-data">
              
                        {% csrf_token %}
                        <table>
                                {{ form.as_table }}
                                    <tr>
                                        <td></td>
                                        <td><input type="submit" name="submit" value="Register" /></td>
                                    </tr>
                        </table>
                </form>
        </div>
 
{% endblock %}