{% extends "cadmin/base1.html" %}
{% load static %}


<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>

<body>
	{% block content %}
	<div class="container">
	<h4 class="text-center alert alert-info">show information</h4>
		<form  action="{% url 'cadmin:userpaymentdetails'  %}" method='POST' enctype="multipart/form-data">
			{% csrf_token %}

		<a href="{{ request.META.HTTP_REFERER }}" class="btn btn-primary" class>Back</a>
		<table>
				{% if stu %}
				
				<table class="table table-bordered">

					
			
		
					<thead>
						<tr>
						
							
							<th scope="col">Studentname</th>
							<th scope="col">Bank</th>
							
							<th scope="col">Amount</th>
							<th scope="col">Date</th>
						</tr>
					</thead>
					<tbody>
						{% for st in stu %}
						
						<tr>
							
							<th scope="row">{{st.Name}}</th>
							<td>{{st.Bank}}</td>
							
							
							
							<td>{{st.Amount}}</td>
							<td>{{st.Date}}</td>

						</tr>

						{% endfor %}
					</tbody>
				</table>

				{% else %}

						<tr>
							<th scope="row">2</th>
							<td>Jacob</td>
							<td>Thornton</td>
							<td>@fat</td>
						</tr>
						<tr>
							<th scope="row">3</th>
							<td colspan="2">Larry the Bird</td>
							<td>@twitter</td>

						</tr>
					</tbody>
					
				</table>


			
			{% endif %}
		</table>
             
			
           

	</form>
			
	</div>
	{% endblock %}

 </body>
</html> 