

{% extends "libraryapp/base2.html" %}

{% load static %}


<!DOCTYPE html>
<html>
<head>
	<title>Profile</title>
	<h1> ReturnbookForm</h1>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<style type="text/css">
		ul li{
			list-style: none;
			display: inline;
		}
		.error{
			color: red;
		}
	</style>
</head>
<body>
	
	{% block content %}
	
	<div class="container">
		<div class="col-md-8 col-md-offset-2">
			<h3>Renew Book</h3>
			<hr>

			
            <form action="{% url 'libraryapp:renew' %}"method="post" enctype="multipart/form-data">
            	<div align="center">
            		<h>hi.. YOUR DUEDATE EXTENDED...</h>
            		<p>Our library policy allows a maximum of one renewals per item as long as 7 days after the Duedate.Your book renewed successfully</p>
            
			{% csrf_token %}
			
				
				<a href="{{ request.META.HTTP_REFERER }}"class="btn btn-primary"class>Back</a>
			
			</form>
		
		</div>
	</div>
	{% endblock %}

</body>
	

</html>
